# TOPIC: String Based Assignment Problem

1.Write a program to reverse a string.

In [1]:
input_string =input("Enter a string")
input_string = input_string[::-1]
print(input_string)

Enter a stringprince
ecnirp

2. Check if a string is a palindrome.

In [4]:
input_string =input("Enter a string")
input_string = input_string.replace(" ","").lower()
reversed_string = input_string[::-1]
if reversed_string == input_string:
    print("string is palindrome")
else:
    print("string is not palindrome")

Enter a stringpopd
string is not palindrome

3. Convert a string to uppercase.

In [6]:
input_string = input("Enter a string: ")
print(input_string.upper())

Enter a string: prince
PRINCE

4. Convert a string to lowercase.

In [8]:
input_string =input("Enter a string: ")
print("Convert to lowercase string :",input_string.lower())

Enter a string: PRINCE
Convert to lowercase string : prince

5. Count the numberof vowels in a string.

In [9]:
def count_vowels(string):
    vowel_count =0
    string = string.lower()
    vowels = set("aeiou")
    for char in string:
        if char in vowels:
            vowel_count +=1
    return vowel_count  

input_string =input("Enter a string")
result = count_vowels(input_string)
print("Number of vowels:", result)

Enter a stringprince singh
Number of vowels: 3

6. Count the number of consonants in a string.

In [12]:
def count_consonants(string):
    consonant_count =0
    string =string.lower()
    consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
    
    for char in string:
        if char in consonants:
            consonant_count +=1
            
    return consonant_count
input_string= input("Enter a string")
result = count_consonants(input_string)
print("Number of consonants :", result)

Enter a stringShaina singh
Number of consonants : 7

In [17]:
def count_consonants(string):
    consonant_count =0
    string =string.lower()
    vowels =("aeiou")
    for char in string:
        if char not in vowels:
            consonant_count +=1
            
    return consonant_count
input_string= input("Enter a string")
result = count_consonants(input_string)
print("Number of consonants :", result)

Enter a stringprince singh
Number of consonants : 9

7. Remove all whitespaces from a string.

In [21]:
input_string = input("Enter a sentence")
input_string = input_string.replace(" " ,"")
print(input_string)

Enter a sentenceHii i am prince kumar
Hiiiamprincekumar

8. Find the length of a string without using the `len()` function.

In [27]:
input_string= input("Enter the string: ")

count = 0
for char in input_string:
    count += 1
print("The lenght of the string is :",count)

Enter the string: prince kumar singh
The lenght of the string is : 18

9. Check if a string contains a specific word.

In [30]:
input_string =input("Enter a string: ")
specific_word =input("Enter a specific word to check for:")
if specific_word in input_string:
    print(f"THe string contains the word '{specific_word}'.")
else:
 print(f"THe string does not  contains the word '{specific_word}'.")

Enter a string: Hii i am price singh
Enter a specific word to check for:singh
THe string contains the word 'singh'.

10. Replace a word in a string with another word.

In [44]:
input_string = input("Enter a sentence: ")
old_word = input("Enter  the word to be replaced: ")
new_word = input("Enter the new  word : ")

modified_string = input_string.replace(old_word, new_word)
print("Modified String :", modified_string)

Enter a sentence: hii i am prince kumar singh
Enter  the word to be replaced: hii
Enter the new  word : hello
Modified String : hello i am prince kumar singh

11. Count the occurrences of a word in a string.

In [34]:
def count_word_occurance(input_string, target_word):
    word_count = 0
    words = input_string.split()
    for word in words:
        if word == target_word:
            word_count += 1
    return word_count
            
input_string= input("Enter the sentence: ")
target_word = input("Enter the word: ")
result = count_word_occurance(input_string, target_word)

print(f"The word '{target_word}' appears {result} times")

Enter the sentence: hi bii hii hii
Enter the word: hii
The word 'hii' appears 2 times

12. Find the first occurrence of a word in a string.

In [36]:
def find_first_occurance(text, word):
    index = text.find(word)
    if index == -1:
        return None
    return index
input_string = input("Enter the sentence: ")
target_word = input("Enter a word: ")
result = find_first_occurance(input_string, target_word)
print("Index of the first occurance: ", result)

Enter the sentence:  Hii i am prince kumar, i love to play chess
Enter a word: chess
Index of the first occurance:  39

13. Find the last occurrence of a word in a string.

In [39]:
def find_last_occurance(text, word):
    index = text.rfind(word)
    if index == -1:
        return None
    return index
input_string = input("Enter the sentence: ")
target_string = input("Enter a word: ")

result = find_last_occurance(input_string, target_word)
print("Index of the first occurance: ", result)

Enter the sentence: Hii i am prince kumar. I love to play chess and table tenis kumar
Enter a word: kumar
Index of the first occurance:  38

14. Split a string into a list of words.

In [40]:
def split_string_into_word(text):
    words_list = text.split()
    return words_list
text = input("Enter the sentence: ")
words = split_string_into_word(text)
print("List of words:", words)

Enter the sentence: Hii i am prince kumar singh ,
List of words: ['Hii', 'i', 'am', 'prince', 'kumar', 'singh', ',']

15. Join a list of words into a string.

In [42]:
def join_words_into_string(words_list):
    joined_string =' '.join(words_list)
    return joined_string
words = ["Hii","i", "am","prince","kumar"]
text = join_words_into_string(words)
print(text)

Hii i am prince kumar

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [47]:
def convert_to_underscore_separated(text):
    underscore_separated = text.replace(" ", "_")
    return underscore_separated

text = input("Enter the sentence")
converted_text = convert_to_underscore_separated(text)
print("Converted text: ", converted_text)

Enter the sentenceHii This is prince kumar
Converted text:  Hii_This_is_prince_kumar

17. Check if a string starts with a specific word or phrase.

In [52]:
def starts_with(text, prefix):
    is_start = text.startswith(prefix)
    return is_start
text =input("Enter the string: ")
prefix =input("Enter the word: ")

result = starts_with(text, prefix)
if result:
    print("The text starts with the prefix.")
else:
    print("THe text does not start with the prefix.")

Enter the string: hii i am prince kumar
Enter the word: hii
The text starts with the prefix.

18. Check if a string ends with a specific word or phrase.

In [56]:
def ends_with(text, postfix):
    is_end= text.endswith(postfix)
    return is_end
text=input("Enter the sentence: ")
postfix =input("Enter postfix: ")
result = ends_with(text, postfix)
if result:
    print("The text ends with the postfix.")
else:
    print("The text does not  ends with the postfix.")

Enter the sentence: hi i am prince
Enter postfix: prince
The text ends with the postfix.

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [4]:
def convert_to_litle_case(text):
    # title() method to convert the text to title case.
    title_case_text = text.title()
    return title_case_text

text = input("Enter the string: ")
title_case_result =convert_to_litle_case(text)
print("Title case :",title_case_result)

Enter the string: hi i am prince kumar singh
Title case : Hi I Am Prince Kumar Singh

20. Find the longest word in a string.

In [6]:
def find_longest_word(text):
    words = text.split()
    longest_word =" "
    max_length = 0
    
    for word in words:
        if len(word) > max_length:
            max_length = len(word)
            longest_word = word
            
    return longest_word  
text =input("Enter the string: ")
longest_word = find_longest_word(text)
print("Longest word: ", longest_word)

Enter the string: hii i am prince kumar
Longest word:  prince

21. Find the shortest word in a string.

In [12]:
def find_shortest_word(text):
    words = text.split()
    shortest_word = None
    min_length = float('inf')
    
    for word in words:
        if len(word) < min_length:
            min_length = len(word)
            shortest_word = word
            
    return shortest_word  
text = input("Enter the string: ")
shortest_word = find_shortest_word(text)
print("Shortest word :",shortest_word)

Enter the string: hii i am prince kumar
Shortest word : i

22. Reverse the order of words in a string.

In [20]:
input_string= input("Enter the string: ")
words= input_string.split()
reversed_words = words[::-1]
reversed_words = ' '.join(reversed_words)
print("Reversed Words",reversed_words)

Enter the string: hii i am prince kumar
Reversed Words kumar prince am i hii

23. Check if a string is alphanumeric.

In [38]:
def is_alphanumeric(text):
    if text.isalnum():
        return text.isalnum()
    
text = input("Enter the text: ")
result = is_alphanumeric(text)
if result :
    print("This string is alphanumeric.")
else:
    print("This string is not alphanumeric.")

Enter the text: hii76
This string is alphanumeric.

24. Extract all digits from a string.

In [39]:
def extract_digits(text):
    digits =""
    
    for char in text:
        if char.isdigit():
            digits += char
    return digits
text =input("Enter the text: ")
extracted_digits = extract_digits(text)
print("Extracted digits: ", extracted_digits)

Enter the text: prince2344443
Extracted digits:  2344443

25. Extract all alphabets from a string.

In [40]:
import re
input_string = input("Enter the text")
alphabets = re.findall(r'[a-zA-Z]',input_string)
result_string = ''.join(alphabets)
print("Extracted alphabets: ", result_string)

Enter the textegwlekjglj489705kjiy9
Extracted alphabets:  egwlekjgljkjiy

26. Count the number of uppercase letters in a string.

In [42]:
def count_uppercase(text):
    uppercase_count = sum(1 for char in text if char.isupper())
    return uppercase_count
input_string = input("Enter the text")
result = count_uppercase(input_string)
print("Total count of Uppercase is ",result)

Enter the textHii, I am Prince kumar, PATNA
Total count of Uppercase is  8

27. Count the number of lowercase letters in a string.

In [44]:
def count_lowercase(text):
    lowercase_count =sum(1 for char in text if char.islower())
    return lowercase_count 
input_string = input("Enter the text: ")
result = count_lowercase(input_string)
print("Total number of lowercase letters is ",result)

Enter the text: Hii , I am prince kumar SINGH
Total number of lowercase letters is  15

28. Swap the case of each character in a string.

In [46]:
input_string = input("Enter the string: ")
swapped_string = input_string.swapcase()
print("Swapped case string:", swapped_string)

Enter the string: Hii , I am prince KUMAR SiNgH
Swapped case string: hII , i AM PRINCE kumar sInGh

29. Remove a specific word from a string.

In [48]:
def remove_word(input_string, word_to_remove):
    words= input_string.split()
    filtered_string = [word for word in words if word != word_to_remove]
    modified_string = ' '.join(filtered_string)
    return modified_string
input_string =input("Enter the string: ")
word_to_remove =input("Enter the word  do you want to remove : ")

result =remove_word(input_string, word_to_remove)
print(result)

Enter the string: Hii!, i am prince kumar
Enter the word  do you want to remove : kumar
Hii!, i am prince

30. Check if a string is a valid email address.

In [49]:
import re
def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    if re.match(pattern, email):
        return True
    else:
        return False
    
email1= "sayprincekumar20@gmail.com"
email2= "princeSingh"
result1= is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
False

31. Extract the username from an email address string.

In [67]:
import re
def extract_username(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    if re.match(pattern, email):  
        username =email.split('@')[0]
        return  username     
    else:
        return " Invalid Email"
email = input("Enter the emailId: ")
result = extract_username(email)
print(result)

Enter the emailId: Sayprincekumar@gmail.com
Sayprincekumar

32. Extract the domain name from an email address string.

In [71]:
import re
def extract_domain(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    if re.match(pattern, email):
        domain =email.split('@')[1]
        return domain
    else:
        return "Invalid Domain"
email= input("Enter the email: ")
result =extract_domain(email)
print(result)

Enter the email: saypeincekumar@gmail.com
gmail.com

33. Replace multiple spaces in a string with a single space.

In [72]:
def replace_multiple_spaces(input_string):
    replaced_string =' '.join(input_string.split())
    return replaced_string
input_string = input("Enter the string")
result =replace_multiple_spaces(input_string)
print(result)

Enter the stringHii    i   am    prince    kumar
Hii i am prince kumar

34. Check if a string is a valid URL.

In [82]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result= urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False
url =   input("Enter ulr: ")

result = is_valid_url(url)
print(result1)

Enter ulr: https://www.youtube.com/playlist?list=PL8BXQ4M4SYoaMrucr0-BRmDZNhRkOlGdr
True

35. Extract the protocol (http or https) from a URL string.

In [86]:
def extract_protocol(url):
    protocol_end = url.find("://")
    if protocol_end != -1 :
        protocol = url[:protocol_end]
        return protocol
    else:
        return None
    
url1 = input("Enter url")
protocol= extract_protocol(url)
print(protocol)

Enter urlhttps://www.youtube.com/playlist?list=PL8BXQ4M4SYoaMrucr0-BRmDZNhRkOlGdr
https

36. Find the frequency of each character in a string.

In [93]:
def character_frequency(input_string):
    frequency = {}
    
    for char in input_string:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] =1
    return frequency
input_string =input("Enter the string: ")

char_freq = character_frequency(input_string)
for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

Enter the string: princr singh
Character: 'p', Frequency: 1
Character: 'r', Frequency: 2
Character: 'i', Frequency: 2
Character: 'n', Frequency: 2
Character: 'c', Frequency: 1
Character: ' ', Frequency: 1
Character: 's', Frequency: 1
Character: 'g', Frequency: 1
Character: 'h', Frequency: 1

37. Remove all punctuation from a string.

In [94]:
import string
def remove_punctuation(input_string):
    translator = str.maketrans("","", string.punctuation)
    clean_string = input_string.translate(translator)
    
    return clean_string

input_str = input("Enter the string: ")
cleaned_str = remove_punctuation(input_str)

print("Original string: ", input_str)
print("Cleaned string: ", cleaned_str)

Enter the string: Hii!, I am prince kumar,
Original string:  Hii!, I am prince kumar,
Cleaned string:  Hii I am prince kumar

38. Check if a string contains only digits.

In [98]:
def check_digits(input_string):
    if input_string.isdigit():
        return True
    else:
        return False
input_string = input("Enter the string: ")
result = check_digits(input_string)
print(f"{input_string} contails only digits: {result}")

Enter the string: prince233333
prince233333 contails only digits: False

39. Check if a string contains only alphabets.

In [105]:
def check_alphabets(input_string):
    if input_string.isalpha():
        return True
    else:
        return False
    
input_string =input("Enter the string: ")
result= check_alphabets(input_string)
print(f"{input_string} contains only alphabets : {result}")

Enter the string: shiana
shiana contains only alphabets : True

40. Convert a string to a list of characters.

In [106]:
def string_to_list(input_string):
    char_list = list(input_string)
    return char_list
input_string= input("Enter the string: ")
char_list = string_to_list(input_string)
print(char_list)

Enter the string: hii i am prijnce kumar
['h', 'i', 'i', ' ', 'i', ' ', 'a', 'm', ' ', 'p', 'r', 'i', 'j', 'n', 'c', 'e', ' ', 'k', 'u', 'm', 'a', 'r']

41. Check if two strings are anagrams.

In [108]:
def are_anagrams(str1, str2):
    str1= str1.replace(" ","").lower()
    str2= str2.replace(" ","").lower()
    return sorted(str1) == sorted(str2)
string1 =input("Enter the string: ")
string2 = input("Enter the string: ")
result1 = are_anagrams(string1, string2)
print(f"{string1} and '{string2}' are anagrams:", result)

Enter the string: prince
Enter the string: shaina
prince and 'shaina' are anagrams: True

47. Check if a string contains any special characters.

In [113]:
import re
def constains_special_characters(input_string):
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
    match = pattern.search(input_string)
    
    return bool(match)

string = input("Enter the string: ")
result = constains_special_characters(input_string)
print(f" '{string}' contains special characters: ",result)

Enter the string: Hello World!,,,,
 'Hello World!,,,,' contains special characters:  False

48. Remove the nth word from a string.

In [116]:
def remove_nth_word(input_string, n):
    words = input_string.split()
    if n >=1 and n <= len(words):
        removed_word = words.pop(n-1)
        modified_string =' '.join(words)
        
        return modified_string, removed_word
    else:
        return None, None

input_string = input("Enter the string: ")
n_value = int(input("Enter the nTh value: "))
modified_str, removed_word = remove_nth_word(input_string, n_value)
print("original string: ", input_string)
if modified_str is not None:
    print("Modified string: ",modified_str)
    print("Removed word: ",removed_word)
else:
    print("Invalid n value.")

Enter the string: hii i am prince
Enter the nTh value: 1
original string:  hii i am prince
Modified string:  i am prince
Removed word:  hii

49. Insert a word at the nth position in a string.

In [127]:
def insert_word_at_nth_position(original_string, word_to_insert, n):
    if n < 0:
        n = 0
    if n > len(original_string):
        n = len(original_string)
    
    return original_string[:n] +' '+ word_to_insert+' ' + original_string[n:]

original_string =input("Enter the string: ")
word_to_insert = input("Enter a  word: ")
n= int(input("Enter the postion: "))

new_string = insert_word_at_nth_position(original_string, word_to_insert, n)
print(new_string)

Enter the string: hii i am prince
Enter a  word: kumar
Enter the postion: 11
hii i am pr kumar ince

50. Convert a CSV string to a list of lists.

In [128]:
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        fields = line.split(',')

        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

# List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [130]:
integer_list =[i for i in range(1,11)]
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [133]:
def find_list_length(input_list):
    count =0
    for _ in input_list:
        count += 1
    return count

my_list =[1,2,3,4,5]
length = find_list_length(my_list)
print("Lenght of the list: ", length)

Lenght of the list:  5

3. Append an element to the end of a list.

In [134]:
my_list = [1,2,3,4,5]
new_element =10
my_list.append(new_element)
print("Updated list: ", my_list)

Updated list:  [1, 2, 3, 4, 5, 10]

4. Insert an element at a specific index in a list.

In [135]:
my_list = [1,2,3,4,5,6]
new_element =10
index_to_insert = 3

my_list.insert(index_to_insert, new_element)
print("Updated list: ", my_list)

Updated list:  [1, 2, 3, 10, 4, 5, 6]

5. Remove an element from a list by its value.

In [136]:
my_list = [1,2,3,4,5]
element_to_removed = 5
my_list.remove(element_to_removed)
print("Updated list: ", my_list)

Updated list:  [1, 2, 3, 4]

6. Remove an element from a list by its index.

In [140]:
my_list = [1,2,3,4,5]
element_to_removed_by_index = int(input("Enter the index: "))

removed_element = my_list.pop(element_to_removed_by_index)
print("Removed element: ", removed_element)
print("Updated List :",my_list)

Enter the index: 2
Removed element:  3
Updated List : [1, 2, 4, 5]

7. Check if an element exists in a list.

In [142]:
my_list = [1,2,3,4,5]
element_to_check = int(input("Enter the element: "))

if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
    
else:
    print(f"{element_to_check} does not exists in the list." )

Enter the element: 5
5 exists in the list.

8. Find the index of the first occurrence of an element in a list.

In [143]:
my_list =[10,20,30,40,50]
element_to_find = 30
index = my_list.index(element_to_find)
print(f"The index of {element_to_find} is {index}")

The index of 30 is 2

9. Count the occurrences of an element in a list.

In [145]:
my_list =[10,20,30,40,50,30]

element_to_count = 30
count = my_list.count(element_to_count)
print(f"The element {element_to_count} occurs {count} times in the list.")

The element 30 occurs 2 times in the list.

10. Reverse the order of elements in a list.

In [150]:
my_list = [10,20,30,40,50]
my_list.reverse()
print("Reversed list: ",my_list)

Reversed list:  [50, 40, 30, 20, 10]

11. Sort a list in ascending order.

In [151]:
my_list = [50,40,30,20,10]
my_list.sort()
print("Sorted list in ascending order: ", my_list)

Sorted list in ascending order:  [10, 20, 30, 40, 50]

12. Sort a list in descending order.

In [152]:
my_list =[20,10,40,50,30]
my_list.sort(reverse= True)
print("Sorted list in descending order :", my_list)

Sorted list in descending order : [50, 40, 30, 20, 10]

13. Create a list of even numbers from 1 to 20.

In [153]:
even_number_list = [x for x in range(2,21,2)]
print("List of even number: ", even_number_list)

List of even number:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [154]:
odd_number_list = [x for x in range(1,20,2)]
print("List of odd number: ", odd_number_list)

List of odd number:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [155]:
my_list = [10,20,30,40,50]
sum_of_list = sum(my_list)
print("Sum of list: ", sum_of_list)

Sum of list:  150

16. Find the maximum value in a list.

In [157]:
my_list = [10,20,30,40,50]
max_in_list = max(my_list)
print("Max in the list: ",max_in_list)

Max in the list:  50

17. Find the minimum value in a list.

In [158]:
my_list = [10,20,30,40,50]
min_in_list = min(my_list)
print("Minimum in the list: ", min_in_list)

Minimum in the list:  10

18. Create a list of squares of numbers from 1 to 10.

In [159]:
my_list =[x**2  for x in range(1,11)]
print("List of squares",my_list)

List of squares [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [161]:
import random
random_integers = [random.randint(1,100) for _ in range(10)]
print("List of random integers: ", random_integers)

List of random integers:  [51, 79, 32, 95, 69, 2, 3, 29, 88, 81]

20. Remove duplicates from a list.

In [162]:
my_list =[1,2,3,4,5,6,5,10,20,10,3,40,20]
unique_list = list(set(my_list))
print("Unique list: ", unique_list)

Unique list:  [1, 2, 3, 4, 5, 6, 40, 10, 20]

21. Find the common elements between two lists.

In [168]:
list1 =[10,20,30,40,50,1,2,3,4,5,6,7]
list2 =[10,20,30,40,50,11,12,23,11,15]
#common_list= list(set(list1).intersection(list2))
common_list= [element for element in list1 if element in list2]
print(common_list)

[10, 20, 30, 40, 50]

22. Find the difference between two lists.

In [171]:
list1 =[10,20,30,40,50,1,2,3,4,5,6,7]
list2 =[10,20,30,40,50,11,12,23,11,15,7]
difference_element= list(set(list1).difference(list2))
#difference_element= [element for element in list1 if element not in list2]
print(difference_element)

[1, 2, 3, 4, 5, 6]

23. Merge two lists.

In [182]:
list1 =[10,20,30,40,50,1,2,3,4,5,6,7]
list2 =[10,20,30,40,50,11,12,23,11,15]
merge_list= list1+ list2
#list1.extend(list2)
#print(list1)
print(merge_list)

[10, 20, 30, 40, 50, 1, 2, 3, 4, 5, 6, 7, 10, 20, 30, 40, 50, 11, 12, 23, 11, 15]

24. Multiply all elements in a list by 2.

In [185]:
list= [1,2,3,4,5,6,7]
multiplied_list = [item*2 for item in list] 
print("Multiplied List: ",multiplied_list)

Multiplied List:  [2, 4, 6, 8, 10, 12, 14]

25. Filter out all even numbers from a list.

In [197]:
list1= [1,2,3,4,5,6,7,8]

even_number_list= [num for num in list1 if num % 2 == 0]

print(even_number_list)

[2, 4, 6, 8]

26. Convert a list of strings to a list of integers.

In [198]:
string_list = ["10","20","30","40","50"]
integer_list = [int(element) for element in string_list]
print("Integer_list: ",integer_list)

Integer_list:  [10, 20, 30, 40, 50]

27. Convert a list of integers to a list of strings.

In [200]:
integer_list = [10,20,30,40,50,60]
string_list = [str(element) for element in integer_list]
print("String list : ",string_list)

String list :  ['10', '20', '30', '40', '50', '60']

28. Flatten a nested list.

In [ ]:
nested_list = [[1,2,3],[4,5],[6,7,8,9]]

def flatten_list(nested):
    flattened =[]
    for sublist in nested:
        if isinstance(sublist,list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened 

flattened_list = flatten_list(nested_list)

print("Flattened list: ", flattened_list)

29. Create a list of the first 10 Fibonacci numbers.

In [211]:
def generate_fibonacci(n):
    fibonacci_numbers =[0,1]
    while len(fibonacci_numbers) <n:
        next_fibonacci = fibonacci_numbers[-1] + fibonacci_numbers[-2]
        fibonacci_numbers.append(next_fibonacci)
        return fibonacci_numbers
first_10_fibonacci = generate_fibonacci(10)
print(first_10_fibonacci)

[0, 1, 1]

30. Check if a list is sorted.

In [237]:
def is_sorted(input_list):
     for i in range(len(input_list)- 1):
            if input_list[i] >input_list[i +1]:
                return False
     return True 
sorted_list = [1,2,3,4,5]
unsorted_list =[3,4,5,6,8,3]
print("Is sorted_list sorted:", is_sorted(sorted_list))
print("Is sorted_list sorted:", is_sorted(unsorted_list))

Is sorted_list sorted: True
Is sorted_list sorted: False

31. Rotate a list to the left by `n` positions.

In [250]:
def rotate_left(input_list, n):
    if n <= 0:
        return input_list
    n = n % len(input_list)
    rotated_list =input_list[n:] + input_list[:n]
    return rotated_list
original_list =input("enter the list(seprated by spaces): ")
original_list =original_list.split()
original_list = [int(element) for element in original_list]
#original_list = [1,2,3,4,5,6]
n =int(input("Enter the nth posotion: "))
rotated = rotate_left(original_list, n)
print(rotated)

enter the list(seprated by spaces): 1 2 3 4 5 6
Enter the nth posotion: 2
[3, 4, 5, 6, 1, 2]

32. Rotate a list to the right by `n` positions.

In [253]:
def rotate_right(input_list ,n):
     if n <= 0:
        return input_list
     n= n % len(input_list)
     rotated = input_list[-n:] + input_list[:-n]
     return rotated
original_list =input("enter the list(seprated by spaces): ")
original_list = original_list.split()
original_list = [int(element) for element in original_list]
n= int(input("Enter the nth position: "))
rotated = rotate_right(original_list, n )
print(rotated)

enter the list(seprated by spaces): 1 2 3 45 6 7 8
Enter the nth position: 2
[7, 8, 1, 2, 3, 45, 6]

33. Create a list of prime numbers up to 50.

In [254]:
def is_prime(num):
    if num <= 1:
        return False
    if num == 2:
        return True
    if num % 2 == 0:
        return False

    for i in range(3, int(num**0.5) + 1, 2):
        if num % i == 0:
            return False

    return True

# Generate a list of prime numbers up to 50
prime_numbers = [num for num in range(2, 51) if is_prime(num)]

print("Prime numbers up to 50:", prime_numbers)

Prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [255]:
def split_list_into_chunks(input_list, n):
    return [input_list[i:i + n] for i in range(0, len(input_list), n)]

original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunk_size = 3

chunks = split_list_into_chunks(original_list, chunk_size)
print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

35. Find the second largest number in a list.

In [268]:
my_list = input("Enter the list(seprated by space): ")
my_list= my_list.split()
my_list = [int(element) for element in my_list] 
sorted_list = sorted(set(my_list))
if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number :", second_largest)
else:
    print("The list does not conatin enough elements.")

Enter the list(seprated by space): 1 2 3 4 5 5 6 5 3 2 1 2 1
Second largest number : 5

36. Replace every element in a list with its square.

In [275]:
my_list = input("Enter the list: ")
my_list = my_list.split()
my_list = [int(element) for element in my_list]
my_list = [item**2 for item in my_list]
print(my_list)

Enter the list: 1 2 3 45 6 7
[1, 4, 9, 2025, 36, 49]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [278]:
my_list = input("Enter the list: ")
my_list = my_list.split()
my_list = [element for element in my_list]
my_dict = {element: index for index, element in enumerate(my_list)}
print(my_dict)

Enter the list: apple boy cat
{'apple': 0, 'boy': 1, 'cat': 2}

38. Shuffle the elements of a list randomly.

In [280]:
import random
my_list = input("Enter the list: ")
my_list = my_list.split()
my_list = [int(element) for element in my_list]
random.shuffle(my_list)
print("Shuffled list:", my_list)

Enter the list: 1 2 3 4 5 6 7 8
Shuffled list: [3, 8, 4, 2, 6, 7, 1, 5]

39. Create a list of the first 10 factorial numbers.

In [281]:
def factorial(n):
    if n ==0 or n ==1:
        return 1
    else:
        return n*factorial(n-1)
    
factorial_numbers = [factorial(i) for i in range(10)]
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [283]:
def has_common_elements(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False
list1 = [1,2,3,4,5,6]
list2 = [6,7,8,9,10]
if has_common_elements(list1, list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

41. Remove all elements from a list.

In [284]:
my_list= [1,2,3,4,5]
my_list.clear()
print("Empty list:", my_list)

Empty list: []

42. Replace negative numbers in a list with 0.

In [285]:
my_list = [10,2,-5,6,-9,8,4,-3]
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] =0
        
print("List after replacing negative numbers with 0:", my_list)

List after replacing negative numbers with 0: [10, 2, 0, 6, 0, 8, 4, 0]

43. Convert a string into a list of words.

In [286]:
my_list = "Hello, My name is prince kumar"
word_list = my_list.split()
print("List of words:", word_list)

List of words: ['Hello,', 'My', 'name', 'is', 'prince', 'kumar']

44. Convert a list of words into a string.

In [290]:
List_words =['Hello,', 'My', 'name', 'is', 'prince', 'kumar.']

my_string =" ".join(List_words)
print("conveted words to string:", my_string)

conveted words to string: Hello, My name is prince kumar.

45. Create a list of the first `n` powers of 2.

In [291]:
 n= int(input('Enter the nth powers of 2 '))
 
power_list= [2 **i for i in range(n)]
print("List of the first",n,"power of 2:",power_list)

Enter the nth powers of 2 5
List of the first 5 power of 2: [1, 2, 4, 8, 16]

46. Find the longest string in a list of strings.

In [293]:
string_list =["Mehir","Shaina singh","prince kumar","nayyar","akhya"]
longest_string = max(string_list, key=len)
print("The longest string is:", longest_string)

The longest string is: Shaina singh

47. Find the shortest string in a list of strings.

In [294]:
string_list =["Mehir","Shaina singh","prince kumar","nayyar","akhya"]
shortest_string = min(string_list, key=len)
print("The shortest string is:", shortest_string)

The shortest string is: Mehir

48. Create a list of the first `n` triangular numbers.

In [295]:
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

n = 5
triangular_list = triangular_numbers(n)
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [296]:
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

# Check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

50. Swap two elements in a list by their indices.

In [298]:
my_list = [1, 2, 3, 4, 5]

index1 = 1
index2 = 3

temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [299]:
my_tuple =(1,2,3,4,5)

2. Access the third element of a tuple.

In [300]:
my_tuple = (1,2,3,4,5)
third_element = my_tuple[2]
print("THe third element of the tuple is:", third_element)

THe third element of the tuple is: 3

3. Find the length of a tuple without using the `len()` function.

In [301]:
my_tuple = (1,2,3,4,5)

count =0
for _ in my_tuple:
    count += 1
print("The lenght of the tuple is: ", count)

The lenght of the tuple is:  5

4. Count the occurrences of an element in a tuple.

In [302]:
my_tuple=(10,20,30,40,40,40,50,40,40,10,5)
element_to_count = 40
count =0 
for item in my_tuple:
    if item  == element_to_count:
        count += 1
print(f"The element {element_to_count} appers {count} times in touple.")

The element 40 appers 5 times in touple.

5. Find the index of the first occurrence of an element in a tuple.

In [306]:
my_tuple=(10,20,30,40,40,40,50,40,40,10,5)
element_to_find =40
index =-1

for i, item in enumerate(my_tuple):
    if item == element_to_find:
        index =i
        break
if index != -1:
    print(f"The first occurance of {element_to_find} is at index {index}.")

else:
        print(f"{element_to_find} is not found in the tuple.")

The first occurance of 40 is at index 3.

6. Check if an element exists in a tuple.

In [308]:
my_tuple=(10,20,30,80,70,40,50,60,40,10,5)

element_to_check =80

if element_to_check in my_tuple:
    print(f"The {element_to_check} exits in the tuple.")
else:
    print(f"The {element_to_check} does not  exits in the tuple.")

The 80 exits in the tuple.

7. Convert a tuple to a list.

In [ ]:
my_tuple= (10,20,30,80,70,40,50,60,40,10,5)
my_list = list(my_tuple)

print("Tuple:", my_tuple)
print("List :", my_list)

8. Convert a list to a tuple.

In [331]:
my_list = [10,20,30,40,50,60]
my_tuple = tuple(my_list)
print(my_tuple)

(10, 20, 30, 40, 50, 60)

9. Unpack the elements of a tuple into variables.

In [333]:
my_tuple= (10,20,30,5)
var1,var2,var3,var4 =my_tuple
print("var1", var1)
print("var2", var2)
print("var3", var3)
print("var4", var4)

var1 10
var2 20
var3 30
var4 5

10. Create a tuple of even numbers from 1 to 10.

In [334]:
even_numbers_list =[num for num in range(2,11,2)]
even_numbers_tuple = tuple(even_numbers_list)
print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [335]:
odd_numbers_list =[num for num in range(1,10,2)]
odd_numbers_tuple = tuple(odd_numbers_list)
print("Tuple of odd numbers:", odd_numbers_tuple)

Tuple of odd numbers: (1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [336]:
tuple1 =(1,2,3,4)
tuple2 = (5,6,7,8)

concatenate_tuple = tuple1+tuple2
print("Concatenate two tuple: ",concatenate_tuple)

Concatenate two tuple:  (1, 2, 3, 4, 5, 6, 7, 8)

13. Repeat a tuple three times.

In [338]:
original_tuple = (1,2,3,4)
repeated_tuple = original_tuple *3
print("Repeated tuple: ", repeated_tuple)

Repeated tuple:  (1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

14. Check if a tuple is empty.

In [339]:
my_tuple = ()

if not my_tuple :
    print("my_tuple is empty.")
else:
    print("my_tuple is not empty.")

my_tuple is empty.

15. Create a nested tuple.

In [341]:
my_tuple = ((1,2,3),('a','b','c'),(True, False))
print("Nested tuple:", my_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

16. Access the first element of a nested tuple.

In [342]:
my_tuple = ((1,2,3),('a','b','c'),(True, False))
first_element = my_tuple[0]
print(first_element)

(1, 2, 3)

17. Create a tuple with a single element.

In [343]:
single_element_tuple = (10)
print("TUple with a single element:", single_element_tuple)

TUple with a single element: 10

18. Compare two tuples.

In [344]:
tuple1 = (1,2,3)
tuple2 = (1,2,4)

print("equal: ", tuple1 ==tuple2)

equal  False

19. Delete a tuple.

In [365]:
my_tuple = ((1,2,3),('a','b','c'),(True, False))
del my_tuple
print(my_tuple)

NameError: name 'my_tuple' is not defined

20. Slice a tuple.

In [368]:
my_tuple = ((1,2,3),('a','b','c'),(True, False),(4,5,6))

sliced_tuple = my_tuple [1:2]
print("Slicied tuple:", sliced_tuple)

Slicied tuple: (('a', 'b', 'c'),)

21. Find the maximum value in a tuple.

In [370]:
my_tuple = (1,2,3,4,5,6,7,8,9)
max_element = max(my_tuple)
print(max_element)

9

22. Find the minimum value in a tuple.

In [372]:
my_tuple = (1,2,3,4,5,6,7,8,9)
min_element = min(my_tuple)
print(min_element)

1

23. Convert a string to a tuple of characters.

In [373]:
my_string = "Prince kumar"

tuple_of_characters = tuple(my_string)
print("Tuple of characters:",tuple_of_characters)

Tuple of characters: ('P', 'r', 'i', 'n', 'c', 'e', ' ', 'k', 'u', 'm', 'a', 'r')

24. Convert a tuple of characters to a string.

In [375]:
tuple_of_characters: ('P', 'r', 'i', 'n', 'c', 'e', ' ', 'k', 'u', 'm', 'a', 'r')
string_from_tuple = ''.join(tuple_of_characters)
print("String from tuple:", string_from_tuple)

String from tuple: Prince kumar

25. Create a tuple from multiple data types.

In [376]:
multiple_data_type_tuples = (1,2,2.0,"prince",'p','s',True)
print(multiple_data_type_tuples )

(1, 2, 2.0, 'prince', 'p', 's', True)

26. Check if two tuples are identical.

In [382]:
tuple1= (1,2,3)
tuple2= (1,2,3)

if tuple1 == tuple2 :
    print(" tuple1 and tuple2 are identical")
else:
    print(" tuple1 and tuple2 are not identical")

 tuple1 and tuple2 are identical

27. Sort the elements of a tuple.

In [384]:
my_tuple = (1,6,4,8,9,2,4,3)
sorted_tuple = tuple(sorted(my_tuple))
print(sorted_tuple)

(1, 2, 3, 4, 4, 6, 8, 9)

28. Convert a tuple of integers to a tuple of strings.

In [386]:
my_tuple = (1,6,4,8,9,2,4,3)
tuple_string = tuple(str(item) for item in my_tuple)
print("Tuple of strings:", tuple_string)

Tuple of strings: ('1', '6', '4', '8', '9', '2', '4', '3')

29. Convert a tuple of strings to a tuple of integers.

In [389]:
tuple_of_strings = ('1', '6', '4', '8', '9', '2', '4', '3')
tuple_of_integers = tuple(int(item) for item in tuple_of_strings)
print("Tuple of integers:", tuple_of_integers)

Tuple of integers: (1, 6, 4, 8, 9, 2, 4, 3)

30. Merge two tuples.

In [392]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)

merge_tuple = tuple1 + tuple2
print("Merge of tuple:", merge_tuple)

Merge of tuple: (1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.

In [395]:
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened
nested_tuple = ((1,2,3),(4,5,6),(7,8,9))
flattened_tuple = tuple(flatten_tuple(nested_tuple))
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9)

32. Create a tuple of the first 5 prime numbers.

In [398]:
def is_prime(num):
    if num <=1:
        return False
    for i in range(2, int(num**0.5) +1):
        if num % i == 0:
            return  False
    return True
    
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5] 
prime_numbers_tuple = tuple(prime_numbers_list)
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [399]:
def  is_plaindrome(tuples):
    return tuples ==tuples[::-1]
plaindrome_tuple = (1,2,3,2,1)
is_plaindrome_check = is_plaindrome(plaindrome_tuple)
print("Plaindrome_tuple is a plaindrome:", is_plaindrome_check)

Plaindrome_tuple is a plaindrome: True

34. Create a tuple of squares of numbers from 1 to 5.

In [401]:
squares_tuple = tuple( x**2 for x in range(1,6))
print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [402]:
original_tuple = (1,2,3,4,5,6,7,8,9,10)
filtered_tuple = tuple(num for num in original_tuple if num % 2 !=0 )
print("Filtered tuple:", filtered_tuple)

Filtered tuple: (1, 3, 5, 7, 9)

36. Multiply all elements in a tuple by 2.

In [405]:
my_tuple = (1,6,4,8,9,2,4,3)
multiply_tuple = tuple(item *2 for item in my_tuple)
print(multiply_tuple)

(2, 12, 8, 16, 18, 4, 8, 6)

37. Create a tuple of random numbers.

In [407]:
import random
random_tuple = tuple(random.randint(1, 100) for _ in range(10))
print(random_tuple)

(56, 5, 72, 39, 65, 82, 82, 97, 37, 95)

38. Check if a tuple is sorted.

In [411]:
def is_sorted(tup):
    for i in range(len(tup) -1):
        if tup[i] > tup[i+ 1]:
            return False
    return True
sorted_tuple = (1,2,3,4,5,6)
unsorted_tuple = (5,3,4,1,2)
is_sorted1= is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

print("Sorted_tuple is sorted:",is_sorted1)
print("Unsorted_tuple is sorted:", is_sorted2)

Sorted_tuple is sorted: True
Unsorted_tuple is sorted: False

39. Rotate a tuple to the left by `n` positions.

In [412]:
def rotate_tuple_left( tup, n):
    n= n % len(tup)
    rotated_tuple = tup[:n] + tup[:n]
    return rotated_tuple

my_tuple = (1,2,3,4,5,6)
n_positions =2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(1, 2, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [414]:
def rotate_tuple_right( tup, n):
    n= n % len(tup)
    rotated_tuple = tup[ -n:] + tup[:-n]
    return rotated_tuple
my_tuple = (1,2,3,4,5,6)
n_positions =2
result =rotate_tuple_right(my_tuple, n_positions)
print(result)

(5, 6, 1, 2, 3, 4)

41. Create a tuple of the first 5 Fibonacci numbers.

In [416]:
def generate_fibonacci(n):
    fibonacci = [0, 1] 
    while len(fibonacci) < n:  # Continue generating Fibonacci numbers until the list has n elements
        next_number = fibonacci[-1] + fibonacci[-2]  # Calculate the next Fibonacci number
        fibonacci.append(next_number)  # Add the next Fibonacci number to the list
    return tuple(fibonacci)  # Convert the list to a tuple and return it

fibonacci_tuple = generate_fibonacci(5)
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [417]:
input_string = input("Enter elments seperated by space:")

input_list = input_string.split(' ')
user_tuple = tuple(input_list)
print("User input tuple :", user_tuple)

Enter elments seperated by space:prince  priyank naina mehir shaina nayyar
User input tuple : ('prince', '', 'priyank', 'naina', 'mehir', 'shaina', 'nayyar')

43. Swap two elements in a tuple.

In [418]:
my_tuple = (1,2,3,4,5)
index1 = 2
index2 = 4
swapped_tuple = tuple(
      my_tuple[i] if i not in (index1,index2) else
      my_tuple[index2] if i == index1 else
      my_tuple[index1]
      for i in range(len(my_tuple))
)
print("Swapped tuple :", swapped_tuple)

Swapped tuple : (1, 2, 5, 4, 3)

44. Reverse the elements of a tuple.

In [419]:
my_tuple =(1,2,3,4,5,6)
reversed_tuple = my_list[::-1]
print("Reversed tuple :", reversed_tuple)

Reversed tuple : [60, 50, 40, 30, 20, 10]

45. Create a tuple of the first `n` powers of 2.

In [422]:
n= int(input("Enter the number: "))
power_of_2_tuple = tuple(2** i for i in range(n))
print("Tuple of the first", n, "powers of 2:", power_of_2_tuple)

Enter the number: 3
Tuple of the first 3 powers of 2: (1, 2, 4)

46. Find the longest string in a tuple of strings.

In [423]:
string_tuple = ["Mehir", "Shaina","Prince","Nayyar","Akhya","priyanka"]
longest_string = max(string_tuple, key=len)
print("Longest string:", longest_string)

Longest string: priyanka

47. Find the shortest string in a tuple of strings.

In [425]:
string_tuple = ["Mehir", "Shaina","Prince","Nayyar","Akhya","priyanka"]
longest_string = min(string_tuple, key=len)
print("Longest string:", longest_string)

Longest string: Mehir

48. Create a tuple of the first `n` triangular numbers.

In [426]:
n = int(input("Enter the number"))

triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Enter the number3
Tuple of the first 3 triangular numbers: (1, 3, 6)

49. Check if a tuple contains another tuple as a subsequence.

In [427]:
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [429]:
n = 10

# Create a tuple of alternating 1s and 0s using a list comprehension
alternating_tuple = tuple(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

# Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [431]:
my_set = set()
my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

2. Add an element to a set.

In [433]:
my_set ={1,2,3,4,5}
element_to_add = 7
my_set.add(element_to_add)
print("Set after adding element :", my_set)

Set after adding element : {1, 2, 3, 4, 5, 7}

3. Remove an element from a set.

In [435]:
my_set ={1,2,3,4,5}
remove_to_element = 4
my_set.remove(remove_to_element)
print("Set after removing",remove_to_element,my_set)

Set after removing 4 {1, 2, 3, 5}

4. Check if an element exists in a set.

In [436]:
my_set ={1,2,3,4,5}
element_to_check = int(input("Enter the element to check:"))
if element_to_check in my_set:
    print(f"{element_to_check} exits in the set.")
else:
    print(f"{element_to_check} does not exits in the set.")

Enter the element to check:4
4 exits in the set.

5. Find the length of a set without using the `len()` function.

In [437]:
my_set ={1,2,3,4,5,6,7}
count =0
for _ in my_set:
    count += 1
print("Lenght of the set:",count)

Lenght of the set: 7

6. Clear all elements from a set.

In [439]:
my_set = {1,2,3,4,5}
my_set.clear()
print(my_set)

set()

7. Create a set of even numbers from 1 to 10.

In [443]:
even_numbers_set = {num for num in range(1,11,2)}
print(even_numbers_set)

{1, 3, 5, 7, 9}

In [447]:
even_numbers_set = set()
for num in range(1, 11):
    if num %2 == 0:
        even_numbers_set.add(num)
print(even_numbers_set)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [449]:
odd_numbers_set = set()

for num in range(1, 11):
    if num % 2 != 0:
        odd_numbers_set.add(num)

print(odd_numbers_set)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [453]:
set1 = {1,2,3,4,5}
set2 = {1,2,3,4,5,5,6,7,8,9}

union_result = set1.union(set2)
print("Union of set1 and set2 :", union_result)

Union of set1 and set2 : {1, 2, 3, 4, 5, 6, 7, 8, 9}

10. Find the intersection of two sets.

In [454]:
set1 = {1,2,3,4,5}
set2 = {1,2,3,4,5,5,6,7,8,9}

intersection_result = set1.intersection(set2)
print("Intersection:", intersection_result)

Intersection: {1, 2, 3, 4, 5}

11. Find the difference between two sets.

In [461]:
set1 = {1,2,3,4,5,6,7,8,9}
set2 = {3,4,5,6,7,8,9}
difference_set = set1.difference(set2)
print("Difference:", difference_set)

Difference: {1, 2}

12. Check if a set is a subset of another set.

In [462]:
set1 = {1,2,3}
set2 ={1,2,3,4,5,6}

is_subset = set1.issubset(set2)
print("Is set1 a subset of set2:", is_subset)

Is set1 a subset of set2: True

13. Check if a set is a superset of another set.

In [464]:
set1 = {1,2,3,4,5,6}
set2 = {3,4}

is_superset = set1.issuperset(set2)
print(" Is set1 is superset of set2: ", is_superset)

 Is set1 is superset of set2:  True

14. Create a set from a list.

In [467]:
my_list = [2,3,4,5,5,4,3,2,1]
my_set = set(my_list)
print("my List:",my_list)
print("My set:",my_set)

my List: [2, 3, 4, 5, 5, 4, 3, 2, 1]
My set: {1, 2, 3, 4, 5}

15. Convert a set to a list.

In [470]:
#help
my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)

TypeError: 'list' object is not callable

16. Remove a random element from a set.

In [478]:
my_set = {1, 2, 3, 4, 5}

# Remove a random element from the set
if my_set:
    removed_element = my_set.pop()
    print("Removed element:", removed_element)
else:
    print("The set is empty.")

print("Updated set:", my_set)

Removed element: 1
Updated set: {2, 3, 4, 5}

17. Pop an element from a set.

In [479]:
my_set = {1, 2, 3, 4, 5}

removed_element = my_set.pop()

print("Removed element:", removed_element)
print("Updated set:", my_set)

Removed element: 1
Updated set: {2, 3, 4, 5}

18. Check if two sets have no elements in common.

In [480]:
set1 = {1,2,3,4,5}
set2 = {5,6,7,8}

common_elements = set1.intersection(set2)

if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have elements in common.")

The two sets have elements in common.

19. Find the symmetric difference between two sets.

In [482]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8,9}

summetric_difference = set1^set2
print("Symmetric Difference:", summetric_difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8, 9}

20. Update a set with elements from another set.

In [483]:
set1 ={1,2,3}
print("set 1:", set1)

set2 = {4,5,6}
print("set 2:", set2)

set1.update(set2)
print("Update set 1:",set1)

set 1: {1, 2, 3}
set 2: {4, 5, 6}
Update set 1: {1, 2, 3, 4, 5, 6}

21. Create a set of the first 5 prime numbers.

In [487]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num** 0.5) + 1):
        if num % i ==0:
            return False
    return True

prime_set = set()
num =2

while len(prime_set) < 5:
    if is_prime(num):
        prime_set.add(num)
    num += 1
print("Set of the first 5 prime numbers :", prime_set)

Set of the first 5 prime numbers : {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [488]:
set1 = {1,2,3,4}
set2 = {1,2,3,4}
if set1 ==set2 :
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

23. Create a frozen set.

In [489]:
# The frozenset is an immutable version of a set, meaning its elements cannot be modified after creation.
elements = [1,2,3,4,5]
my_frozen_set = frozenset(elements)

print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [490]:
set1 = {1,2,3,4}
set2 = {5,6,7,8}

disjoint_status = set1.isdisjoint(set2)

print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

25. Create a set of squares of numbers from 1 to 5.

In [495]:
square_numbers_sets = {element**2 for element in range(1,6)}
print("Sqaure of numbers:",square_numbers_sets)

Sqaure of numbers: {1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [500]:
my_sets = {1,2,3,4,5,6,7,8,9,10}
even_numbers_set= set()
for num in my_set:
    if num %2 == 0:
        even_numbers_set.add(num)
print("Original Set:", my_sets)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Even Numbers Set: {2, 4}

27. Multiply all elements in a set by 2.

In [502]:
original_set = {1,2,3,4,5}
multiplied_set = set()
for num in original_set:
    multiplied_num = num *2
    multiplied_set.add(multiplied_num)
print("Original Set:", original_set)
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [504]:
import random
num_random_numbers = 5
random_number_set = set()
for _ in range(num_random_numbers):
    random_num = random.randint(1,100)
    random_number_set.add(random_num)
print("Generated set of random numbers:",random_number_set )

Generated set of random numbers: {64, 100, 8, 11, 31}

29. Check if a set is empty.

In [505]:
my_set = set()
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

30. Create a nested set (hint: use frozenset).

In [508]:
set1 = {1,2,3,4,5}
set2 = {6,7,8,9,10}
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

nested_set = {frozen_set1, frozen_set2}
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

31. Remove an element from a set using the discard method.

In [509]:
my_set = {1, 2, 3, 4, 5}

print("Initial set:", my_set)

element_to_remove = 3

# Use the discard() method to remove the element from the set
# If the element is not present in the set, discard() won't raise an error
my_set.discard(element_to_remove)

print("Set after removing", element_to_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

32. Compare two sets.

In [510]:
set1 = {1,2,3,4,5}
set2 ={4,5,6,7,8}


# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? True
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

33. Create a set from a string.

In [511]:
inpput_string = "prince"
char_set = set(input_string)
print(char_set)

{'h', 'r', 'n', 'p', 's', 'k', 'c', 'y', 'e', 'm', 'a', 'i', ' '}

34. Convert a set of strings to a set of integers.

In [518]:
string_set = {"123",'345',"456",'567'}
integer_set = set()
for string in string_set:
    integer_value = int(string)
    integer_set.add(integer_value)
 
print("Original string set:", string_set)
print("Conveted Integer set:", integer_set)

Original string set: {'567', '345', '456', '123'}
Conveted Integer set: {456, 345, 123, 567}

35. Convert a set of integers to a set of strings.

In [520]:
integer_set = {456, 345, 123, 567}
string_set =set()
for integer in integer_set:
    string_value = str(integer)
    string_set.add(string_value)
    
print("Original integer set:", integer_set)
print("string_set:",string_set)

Original integer set: {456, 345, 123, 567}
string_set: {'567', '345', '456', '123'}

36. Create a set from a tuple.

In [521]:
input_tuple = (1,2,3,4,5,6,7)
set = set(input_tuple)
print(set)

{1, 2, 3, 4, 5, 6, 7}

37. Convert a set to a tuple.

In [522]:
input_set = {1,2,3,4,5,6}
output_tuple = tuple(input_set)
print(output_tuple)

(1, 2, 3, 4, 5, 6)

38. Find the maximum value in a set.

In [525]:
input_set = {1,2,3,4,5,6,7,8,9}
max_element = max(input_set)
print("Max element:",max_element)

Max element: 9

In [530]:
input_set = {1,2,3,4,5,6,7,8,9}
max_value = None
for num in input_set:
    if max_value is None or num > max_value:
        max_value = num
print("Maximun value:", max_value)

Maximun value: 9

39. Find the minimum value in a set.

In [531]:
input_set = {1,2,3,4,5,6,7,8,9}
min_element = min(input_set)
print("Min element:",min_element)

Min element: 1

40. Create a set from user input.

In [ ]:
user_set = set()

print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  

    if user_input.lower() == 'done':
        break  

    user_set.add(user_input)

print("Final set:", user_set)

In [ ]:
41. Check if the intersection of two sets is empty.
42. Create a set of the first 5 Fibonacci numbers.

43. Remove duplicates from a list using sets.
44. Check if two sets have the same elements, regardless of their count.
45. Create a set of the first `n` powers of 2.
46. Find the common elements between a set and a list.

47. Create a set of the first `n` triangular numbers.

41. Check if the intersection of two sets is empty.

In [536]:
set1 = {1,2,3,4,5}
set2 ={4,5,6,7,8}

intersection_result = set1.intersection(set2)
if not intersection_result:
    print("The intersection of the two sets is emplty.")
else:
    print("The interscetion of the two sets is not empty.")

The interscetion of the two sets is not empty.

42. Create a set of the first 5 Fibonacci numbers.

In [ ]:
fibonacci_set =set()
a,b = 0,1
for _ in range(6):
    fibonacci_set.add(a)
    a,b = b , a+b
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

43. Remove duplicates from a list using sets.

In [ ]:
original_list = [2,3,4,5,6,7,8,9]
unique_set = set(original_list)
unique_list = list(unique_set)
print("Original list :", original_list)
print("LIst with Duplicated Removed :", unique_list)

44. Check if two sets have the same elements, regardless of their count.

In [ ]:

def have_same_elements(set1, set2):
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))
    return sorted_list1 == sorted_list2

set1 = {1,2,3,4,5}
set2 = {2,3,1}

result = have_same_elements(set1,set2)
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

45. Create a set of the first `n` powers of 2.

In [ ]:
def generate_powers_of_2(n):
    powers_of_2 = set()

    for i in range(n):
        power = 2 ** i
        powers_of_2.add(power)
    return powers_of_2
n = 5
powers_set = generate_powers_of_2(n)
print(powers_set)

In [ ]:
46. Find the common elements between a set and a list.

In [ ]:
# Step 1: Define a set and a list
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

# Step 2: Convert the list to a set for efficient comparison
list_to_set = set(my_list)

# Step 3: Initialize an empty list to store common elements
common_elements = []

# Step 4: Iterate through the elements in the set
for element in my_set:
    # Step 5: Check if the element is present in the converted set (list_to_set)
    if element in list_to_set:
        # Step 6: If the element is present in both the set and the list, add it to the common_elements list
        common_elements.append(element)

# Step 7: Print the common elements
print("Common elements:", common_elements)

47. Create a set of the first `n` triangular numbers.

In [ ]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

48. Check if a set contains another set as a subset.

In [554]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

is_subset = set2.issubset(set1)
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

49. Create a set of alternating 1s and 0s of length `n`.

In [ ]:
def create_alternating_set(n):
    # Initialize an empty set to store the alternating sequence.
    alternating_set = set()

    # Loop to generate alternating 1s and 0s.
    for i in range(n):
        # Alternate between adding 1 and 0 to the set based on whether i is even or odd.
        if i % 2 == 0:
            alternating_set.add(1)  # Add 1 if i is even.
        else:
            alternating_set.add(0)  # Add 0 if i is odd.

    return alternating_set

# Define the desired length of the alternating set.
length_n = 10

# Call the function to create the alternating set of length 'length_n'.
result = create_alternating_set(length_n)

# Print the resulting set.
print(result)

50. Merge multiple sets into one.

In [557]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_set = set1.union(set2, set3)
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}